<div class="about-container">
  <div class="flex-container space-between">
    <div class="column left">
      <a class="margin-left" routerLink="/design">
        <p class="header-text pointer">VIEW MY DESIGN PORTFOLIO</p>
      </a>
    </div>
    <div class="space-column"></div>
    <div class="column right">
      <a class="margin-right" routerLink="/photography">
        <p class="header-text pointer">VIEW MY PHOTO PROJECTS</p>
      </a>
    </div>
  </div>

  <div class="flex-container center">
    <div class="space-column"></div>

    <!-- Desktop and tablet -->
    <div id="desktop-tablet" class="content-column">
      <div class="main-container">
        <p class="main-text">Oops!  The page you’re looking for was not found.</p>
      </div>
      <div class="subtext-container">
        <p class="main-subtext">Head on back to my design portfolio or photo projects by clicking the links above.</p>
      </div>
    </div>

    <!-- Mobile -->
    <div id="mobile" class="mobile-content-container">
      <div class="content-column">
        <div class="main-container">
          <p class="main-text">Oops!  The page you’re looking for was not found.</p>
        </div>
        <div class="subtext-container">
          <p class="main-subtext">Head on back to my design portfolio or photo projects by clicking the links above.</p>
        </div>
      </div>
      <div class="content-column">
        <a class="header-text" routerLink="/design">DESIGN</a>
        <a class="header-text" routerLink="/photography">PHOTOS</a>
      </div>
    </div>

    <div class="space-column"></div>
  </div>

  <div class="flex-container space-between">
    <div class="column left">
      <p class="header-text subtle margin-left">© NORAH TAHIRI 2019. ALL RIGHTS RESERVED</p>
    </div>
    <div class="space-column"></div>
    <div class="column right">
      <a href="https://www.github.com/mperitz" target="_blank">
        <p class="header-text subtle pointer margin-right">DEVELOPED BY MIKE PERITZ</p>
      </a>
    </div>
  </div>
</div>
