<div class="about-container">
  <div class="flex-container space-between">
    <div class="column left">
      <a class="margin-left" routerLink="/design">
        <p class="header-text pointer">VIEW MY DESIGN PORTFOLIO</p>
      </a>
    </div>
    <div class="space-column"></div>
    <div class="column right">
      <a class="margin-right" routerLink="/photography">
        <p class="header-text pointer">VIEW MY PHOTO PROJECTS</p>
      </a>
    </div>
  </div>

  <div class="flex-container center">
    <div class="space-column"></div>

    <!-- Desktop and tablet -->
    <div id="desktop-tablet" class="content-column">
      <div class="main-container">
        <p class="main-text">Norah Tahiri is a multi-disciplinary Designer and Photographer based in Brooklyn. </p>
      </div>
      <div class="subtext-container">
        <p class="main-subtext">Previous clients include: The Obama Foundation, Scholastic, LiveOnNY, Scistarter, Boys and Girls Club of America, Merck for Mothers, Prodigy Network, The Rockefeller Foundation, Abbott, Perry Ellis, Douglas Elliman and more.</p>
      </div>
    </div>

    <!-- Mobile -->
    <div id="mobile" class="mobile-content-container">
      <div class="content-column">
        <div class="main-container">
          <p class="main-text">Norah Tahiri is a multi-disciplinary Designer and Photographer based in Brooklyn. </p>
        </div>
        <div class="subtext-container">
          <p class="main-subtext">Previous clients include: The Obama Foundation, Scholastic, LiveOnNY, Scistarter, Boys and Girls Club of America, Merck for Mothers, Prodigy Network, The Rockefeller Foundation, Abbott, Perry Ellis, Douglas Elliman and more.</p>
        </div>
      </div>
      <div class="content-column">
        <a class="header-text" href="mailto:ntahiri@gmail.com" target="_top">CONTACT</a>
        <a class="header-text" href="https://www.instagram.com/ntahiri/" target="_blank">FOLLOW</a>
      </div>
    </div>

    <div class="space-column"></div>
  </div>

  <div class="flex-container space-between">
    <div class="column left">
      <p class="header-text subtle margin-left">© NORAH TAHIRI 2019. ALL RIGHTS RESERVED</p>
    </div>
    <div class="space-column"></div>
    <div class="column right">
      <a href="https://www.github.com/mperitz" target="_blank">
        <p class="header-text subtle pointer margin-right">DEVELOPED BY MIKE PERITZ</p>
      </a>
    </div>
  </div>
</div>
