.side-image {
  height: 100%;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  transition: opacity 200ms ease-in-out;
}

.design {
  background-image: url(../../../assets/images/design/group.svg);
}

.photography {
  background-image: url(../../../assets/images/photography/default@3x.jpg);
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}
