<div class="about-container">
  <div class="flex-container space-between">
    <div class="column left">
      <a class="margin-left" [routerLink]="redirect">
        <p class="header-text pointer">BACK TO MENU</p>
      </a>
    </div>
    <div class="space-column"></div>
    <div class="column right">
      <a class="header-text margin-right" [href]="email" target="_top">CONTACT</a>
      <a class="header-text margin-right" [href]="instagram" target="_blank">FOLLOW</a>
    </div>
  </div>

  <div class="flex-container center">
    <div class="space-column"></div>

    <!-- Desktop and tablet -->
    <div id="desktop-tablet" class="content-column">
      <div class="main-container">
        <p class="main-text">{{description}}</p>
      </div>
      <div class="subtext-container">
        <p class="main-subtext">{{previousClients}}</p>
      </div>
    </div>

    <!-- Mobile -->
    <div id="mobile" class="mobile-content-container">
      <div class="content-column">
        <div class="main-container">
          <p class="main-text">{{description}}</p>
        </div>
        <div class="subtext-container">
          <p class="main-subtext">{{previousClients}}</p>
        </div>
      </div>
      <div class="content-column">
        <a class="header-text" [href]="email" target="_top">CONTACT</a>
        <a class="header-text" [href]="instagram" target="_blank">FOLLOW</a>
      </div>
    </div>

    <div class="space-column"></div>
  </div>

  <div class="flex-container space-between">
    <div class="column left">
      <p class="header-text subtle margin-left">© NORAH TAHIRI 2019. ALL RIGHTS RESERVED</p>
    </div>
    <div class="space-column"></div>
    <div class="column right">
      <a href="https://www.linkedin.com/in/mike-peritz/" target="_blank">
        <p class="header-text subtle pointer margin-right">DEVELOPED BY MIKE PERITZ</p>
      </a>
    </div>
  </div>
</div>
