<div class="corner-nav">
  <a class="nav-a" href="/design">
    <div class="nav x"></div>
  </a>
  <a class="nav-a" [href]="prevProjectHref" target="_top">
    <div class="nav back"></div>
  </a>
  <a class="nav-a" [href]="nextProjectHref" target="_top">
    <div class="nav forward"></div>
  </a>
</div>

<div class="full-width-flex-container h100">
  <div
    class="main-image"
    [style.backgroundImage]="getImageUrl(project.src)"
  >
  </div>
  <div class="main-description-container">
    <div class="main-text-container sponsor">
      <p class="sponsor-text-top dark-text">{{project.client.toUpperCase()}}</p>
    </div>
    <div class="main-text-container description">
      <p class="name-text dark-text">{{project.name}}</p>
      <p class="description-text light-text">{{project.mainDescription}}</p>
    </div>
    <div class="scroll-line-container">
      <div class="scroll-text">SCROLL</div>
      <div class="scroll-line"></div>
    </div>
  </div>
</div>

<div class="portrait">
  <div class="back-container">
    <a href="/design" class="portrait-back">BACK TO PORTFOLIO</a>
  </div>
  <div
    class="portrait-main-image"
    [style.backgroundImage]="getImageUrl(project.src)"
  >
  </div>
  <div class="portrait-main-description-container">
    <p class="name-text dark-text">{{project.name}}</p>
    <p class="sponsor-text-top dark-text">{{project.client.toUpperCase()}}</p>
  </div>
  <div class="line"></div>
  <p class="description-text light-text">{{project.mainDescription}}</p>
</div>

<div class="full-width-flex-container" [style.background]="project.color + '7a'">
  <div class="detail-half">
    <div class="detail-text-container">
      <p class="detail-title-text">Team</p>
      <p
        class="detail-subtitle-text"
        *ngFor="let member of project.team"
      >
        {{member}}
      </p>
    </div>
  </div>
  <div class="detail-half">
    <div class="detail-text-container">
      <p class="detail-title-text">Role</p>
      <p class="detail-subtitle-text">{{project.role}}</p>
    </div>
  </div>
  <div class="detail-half detail-short">
    <div class="detail-text-container">
      <a
        [href]="project.href"
        target="_blank"
        [ngClass]="buttonClass"
        [style.background]="project.color"
      >
        VIEW PROJECT
      </a>
    </div>
  </div>
</div>

<div class="carousel-wrapper">
  <carousel [project]="project"></carousel>
  <div class="drag-line-container">
    <div class="drag-line"></div>
    <p class="drag-text">DRAG CAROUSEL</p>
  </div>
</div>

<ng-template ngFor let-content [ngForOf]="project.content">
  <ng-template [ngIf]="content.type === 'video'">
    <div class="content-container">
      <app-video [videoId]="content.videoId" [addVideo]="addVideo"></app-video>
    </div>
  </ng-template>
  <ng-template [ngIf]="content.type === 'image'">
    <div class="content-container image-container">
      <div
        class="content-image"
        [style.backgroundImage]="getImageUrl(content.src)"
        [style.paddingBottom]="getPaddingPercent(content.paddingPercentage)"
      ></div>
    </div>
  </ng-template>
  <ng-template [ngIf]="content.type === 'text'">
    <div class="content-container">
      <div
        class="content-text"
      >
        <p *ngFor="let text of content.text" [ngClass]="getTextClass(text.type)">{{text.value}}</p>
      </div>
    </div>
  </ng-template>
</ng-template>

<div class="footer-container">
  <a href="/design" class="footer-half left" [style.background]="project.color">
    <p class="footer-text-main">Back to Portfolio</p>
  </a>
  <a
    [href]="nextProjectHref"
    target="_top"
    class="footer-half right"
    [style.background]="nextProject.color"
  >
    <p class="footer-text-main">Next Project</p>
    <p class="footer-text-sub">{{nextProject.name.toUpperCase()}}</p>
  </a>
</div>
