body {
  background: black;
}

.menu-container {
  width: 100vw;
  background: black;
  padding-top: 50px;
}

.auto-height {
  height: auto;
}

.full-height {
  height: calc(100vh - 50px);
}

.row {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #979797;
}

.row-container {
  width: 86%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.row-text {
  color: white;
  font-family: Oswald;
  letter-spacing: 0.75px;
  font-size: 17px;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid white;
  transition: transform 100ms ease-in-out;
}

.open {
  transform: rotate(90deg);
}

@keyframes row-open {
  from {
    height: 50px;
  }

  to {
    height: 300px;
  }
}

.large {
  height: auto;
  background: #363636;
  animation: row-open 150ms ease-in-out;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.content-text {
  font-family: TiemposFine;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ffffff;
  opacity: 0;
  animation: opacity 1ms linear 100ms forwards;
}

.footer {
  border: none;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.fixed {
  position: fixed;
  bottom: 0;
}

.footer-text {
  font-family: Oswald;
  letter-spacing: 0.75px;
  font-size: 12px;
  color: #88898a;
  margin: 0 0 5px 0;
}

a {
  text-decoration: none;
}
