.content-container {
  padding: 0 20px;
  margin-top: 100px;
}

.content-image {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 100%;
}

.image-container {
  max-width: 900px;
  margin: 100px auto 0;
}

.content-text {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.text {
  margin-top: 10px;
}

.text-header {
  font-family: TiemposFine;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  color: #363636;
}

.text-body {
  font-family: TiemposText;
  font-size: 16px;
  line-height: 1.44;
  letter-spacing: 0.75px;
  color: #5b5b5b;
}

.listitem {
  padding-left: 14px;
}

.carousel-wrapper {
  overflow-x: scroll;
  width: 100vw;
}

.carousel-wrapper::-webkit-scrollbar {
  display: none;
}

.drag-line-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  bottom: 60px;
  left: 0px;
  width: 130px;
}

.drag-text {
  font-family: Oswald;
  letter-spacing: 0.75px;
  font-size: 12px;
  font-weight: 500;
  line-height: 2.08;
  text-align: center;
  color: #363636;
  margin-left: 6px;
}

.drag-line {
  width: 85px;
  height: 1px;
  background: #363636;
}
