<div class="flex-section">
  <a routerLink="/">
    <p class="left" switch-photo>NORAH TAHIRI</p>
  </a>
  <div class="right dot-container">
    <div
      class="dot"
      [style.background]="dotColor"
      [style.display]="getDotDisplay('design')"
    ></div>
    <div class="space"></div>
    <a routerLink="/design">
      <p switch-photo>DESIGN</p>
    </a>
  </div>
</div>
<div class="list-container">
  <a
    [routerLink]="getLinkTo(project.url)"
    *ngFor="let project of projects"
  >
    <p
      (mouseenter)="selectProject(project)"
      (mouseleave)="deselectProject()"
      [style.color]="getListItemColor(project)"
    >
      {{project.name}}
    </p>
  </a>
</div>
<div class="flex-section">
  <a [routerLink]="['/about', type]">
    <p class="left" switch-photo>ABOUT</p>
  </a>
  <div class="right dot-container">
    <div
      class="dot"
      [style.background]="dotColor"
      [style.display]="getDotDisplay('photography')"
    ></div>
    <div class="space"></div>
    <a routerLink="/photography">
      <p switch-photo>PHOTOGRAPHY</p>
    </a>
  </div>
</div>
