<div class="flex-section">
  <a [routerLink]="['/about', type]">
    <p class="left">NORAH TAHIRI</p>
  </a>
  <div class="right dot-container">
    <div
      class="dot"
      [style.background]="dotColor"
      [style.display]="getDotDisplay('design')"
    ></div>
    <div class="space"></div>
    <a routerLink="/design">
      <p>DESIGN</p>
    </a>
  </div>
</div>
<div class="list-container">
  <p
    *ngFor="let project of projects"
    (mouseenter)="selectProject(project)"
    (mouseleave)="deselectProject()"
    [style.color]="getListItemColor(project)"
  >
    {{project.name}}
  </p>
</div>
<div class="flex-section">
  <a [routerLink]="['/about', type]">
    <p class="left">ABOUT</p>
  </a>
  <div class="right dot-container">
    <div
      class="dot"
      [style.background]="dotColor"
      [style.display]="getDotDisplay('photography')"
    ></div>
    <div class="space"></div>
    <a routerLink="/photography">
      <p>PHOTOGRAPHY</p>
    </a>
  </div>
</div>
