.mobile-content-container {
  padding-top: 50px;
  width: 100vw;
  height: auto;
}

.mobile-project-container {
  width: 100%;
  height: auto;
}

.mobile-background {
  width: 100%;
  height: 0;
  padding-top: 112.35%;
  background-size: contain;
  background-repeat: no-repeat;
}

.mobile-project-name {
  width: 100%;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin: 0;
  font-family: TiemposFine;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.6px;
  text-align: center;
  color: #ffffff;
}
