@media screen and (orientation: portrait) {
  .list-container p {
    margin: 20px;
  }

  p {
    color: white !important;
  }

  .dot {
    background: white !important;
  }

  @media screen and (max-width: 1200px) {
    .list-container p {
      font-size: 54px;
    }
  }

  @media screen and (max-width: 900px) {
    .list-container p {
      font-size: 45px;
    }
  }

  @media screen and (max-width: 750px) {
    .list-container p {
      font-size: 36px;
    }
  }

  @media screen and (max-width: 500px) {
    .list-container p {
      font-size: 30px;
    }

    .flex-section a, .dot-container {
      display: none;
    }
  }

  @media screen and (max-width: 375px) {
    .list-container p {
      font-size: 24px;
    }
  }

  @media screen and (max-height: 600px) {
    .list-container p {
      margin: 10px;
    }
  }
}

@media screen and (orientation: landscape) {
  @media screen and (max-width: 750px) {
    .list-container p {
      font-size: 16px;
    }

    .flex-section p {
      font-size: 14px;
    }
  }


  @media screen and (max-width: 600px) {
    .list-container p {
      font-size: 14px;
    }

    .flex-section p {
      font-size: 12px;
    }
  }
}

