@media screen and (orientation: portrait) {
  .flex-section p {
    color: white;
    text-shadow: 0px 0px 15px black;
  }

  .flex-section a {
    color: white;
  }

  .list-container p {
    /* Need to use !important to overwrite [style.color] in <div> tag */
    color: white !important;
    text-shadow: 0px 0px 15px black;
    margin: 20px;
  }

  .dot {
    /* Need to use !important to overwrite [style.background] in <div> tag */
    background: white !important;
    box-shadow: 0px 0px 15px black;
  }

  @media screen and (max-width: 1200px) {
    .list-container p {
      font-size: 54px;
    }
  }

  @media screen and (max-width: 900px) {
    .list-container p {
      font-size: 45px;
    }
  }

  @media screen and (max-width: 750px) {
    .list-container p {
      font-size: 36px;
    }
  }

  @media screen and (max-width: 500px) {
    .list-container p {
      font-size: 30px;
    }
  }

  @media screen and (max-width: 375px) {
    .list-container p {
      font-size: 24px;
    }
  }

  @media screen and (max-height: 600px) {
    .list-container p {
      margin: 10px;
    }
  }
}

@media screen and (orientation: landscape) {
  @media screen and (max-width: 750px) {
    .list-container p {
      font-size: 16px;
    }

    .flex-section p {
      font-size: 14px;
    }
  }


  @media screen and (max-width: 600px) {
    .list-container p {
      font-size: 14px;
    }

    .flex-section p {
      font-size: 12px;
    }
  }
}

